<div class="landing-page">

  <div class="main-title">
    <h1 id="solo-camp-sns">
      Camper.
    </h1>
  </div>


  <div id="sign-container-new">

    <h2 class="new-user">新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%# <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field-sign">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class:"f-sign" %>
    </div>
  
    <div class="field-sign">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", placeholder:"例)example@gmail.com", class:"f-sign" %>
    </div>

    <div class="field-sign">
      <%= f.label :phone_num %><br />
      <%= f.text_field :phone_num, autocomplete: "phone_num", maxlength:'11', placeholder:"ハイフンなし", class:"f-sign" %>
    </div>

    <div class="field-sign">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder:"半角英数８文字以上", class:"f-sign" %>
    </div>

    <div class="field-sign">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"もう一度入力", class:"f-sign" %>
    </div>

    <div class="actions-sign">
      <%= f.submit "新規登録", class:"sign-btn" %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>

</div>