<div class="tweet-comment-group">
    
    <% if controller.action_name == "show" %>
      <div class="comment-form">
        <%= form_with model: [@tweet, @comment] do |f|%>
          <%= f.text_area :comment, class:"comment-area", placeholder: "140字まで" %>
          <%= f.submit "SEND", class:"comment-btn" %>
        <% end %>
      </div>
    <% end %>

      <div class="tweet-comments">
        <% comments.each do |comment| %>
          <div id="tweet-com<%= comment.id %>">
            <%= render 'comments/tweet_comment', comment: comment %>
          </div>
        <% end %>
      </div>
    
</div>