<div class="user-bar">
  <div class="user-icon-group">
    <%= link_to user_path(tweet.user) do%>
      <% if tweet.user.image.attached? %>
        <%= image_tag tweet.user.image, class:'user-icon' %>
      <% else %>
        <%= image_tag 'default_tent.png', class:'user-icon' %>
      <% end %>
    <% end %>
  </div>
  <div class="tweet-user">
    <%= link_to user_path(tweet.user) do%>
      <%= tweet.user.name %>
    <% end %>
  </div>
</div>

<div class="tweet-camp-site">
  <% if tweet.camp_site_id != nil %>
    <%= link_to tweet.camp_site.site, camp_site_show_path(tweet.camp_site_id) %>
  <% end %>
</div>

<div class="tweet-image-content">
  <%= link_to tweet_path(tweet.id) do%>
    <% if tweet.image.attached? %>
      <%= image_tag tweet.image, class:'tweet-image' %>
    <% else %>
      <%= image_tag 'default_tent.png', class:'tweet-image' %>
    <% end %>
  <% end %>
</div>
<div class="tweet-text-content">
  <p>TEXT : 
    <%= render_with_tags(tweet.text) %>
  </p>
</div>

<%= render "/comments/comments", comments: tweet.comments %>

<div class="like-container">
  <% if current_user.liked_by?(tweet.id) %>
    <p id="tweet-like">
      <%= link_to destroy_like_path(tweet), method: :delete, remote: true do %>
        <%= image_tag 'like-btn2.png', width:"20",height:"20"%> いいね！
      <% end %>
      <%= tweet.likes.count %>
    </p>
  <% else %>
    <p id="tweet-like">
      <%= link_to  create_like_path(tweet), method: :post, remote: true do %>
        <%= image_tag 'unlike-btn.png', width:"20",height:"20"%> いいね！
      <% end %>
      <%= tweet.likes.count %>
    </p>
  <% end %>
</div>