<%= render 'shared/header' %>
<%= render 'shared/error_messages', resource: @tweets_tag %>

<div class="tweet-form">
  <%= form_with model: @tweets_tag, url: tweet_path, local: true do |f| %>

  <div class="field" id="img-select">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div id="img-prv"></div>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text, placeholder: '400字以内', maxlength: '400' %>
  </div>

  <div class="site-select-btn">
    <%= link_to "キャンプ場を選ぶ >> ", camp_sites_path %>
  </div>

  <div class="send-btn">
    <%= f.submit "SEND >> " %>
  </div>
  
  <% end %>
</div>

<div class="delete-btn">
  <%= link_to "DELETE", tweet_path(@tweet.id), method: :delete, data: { confirm: "Are you sure delete?"} %>
</div>

<div class="back-btn">
  <%= link_to 'BACK', root_path %>
</div>