<%= render '/shared/header'%>

<div class="main">
  <h1>
    <%= link_to "Select-Campsite", camp_sites_path %>
  </h1>

  <h2>
    <%= link_to 'New-Story', new_tweet_path %>
  </h2>

  <h2>Display All Tweets in this page</h2> 

  <ul class="tweet-list">
    <% @tweets.each do |tweet| %>
      <li class="list" id="tweet_<%= tweet.id %>">
        <%= render 'tweet', tweet: tweet%>
      </li>
    <% end %>
  </ul>
</div>