  <% if current_user.visited_by?(result.id) %>
    <div class="vis-icon-box">
      <%= link_to  destroy_visited_site_path(result), method: :delete, remote: true, data: { confirm: "#{result.site} を未訪問にしますか？"},id:'visited' do %>
        <%= image_tag 'checked-tent.png', class:"site-visit-icon"%>
      <% end %>
    </div>
  <% else %>
    <div class="vis-icon-box">
      <%= link_to create_visited_site_path(result), method: :post, remote: true, id:'visit' do %>
        <%= image_tag 'default_tent.png',  class:"site-visit-icon" %>
      <% end %>
    </div>
  <% end %>

  <%= link_to camp_site_show_path(result) do %>
    <%= result.site %>
  <% end %>