<%= render '/shared/header'%>

<h2>UserPage</h2>

<% if @user.image.attached? %>
  <div class="user-img">
    <%= image_tag @user.image, width:"200", height:"200" %>
  </div>
<% else %>
  <div class="default-img">
    <%= image_tag 'default_tent.png', width:"200", height:"200" %>
  </div>
<% end %>

<div class="user-name">
  UserName: <%= @user.name %>
</div>

<div class="user-introduce">
  Introduce:
  <span>
  <%= @user.introduce %>
  </span>
</div>

<div class="visit-u-edit">
<% if @user.id == current_user.id %>
  <%= link_to "EDIT", edit_user_registration_path(current_user) %>
<% end %>
</div>

  <div id="follower">
    <h5 >フォロワー<%= @user.followers.count %>人</h5>
  </div>
  <div id="follow">
    <h5 >フォロー<%= @user.followings.count %>人</h5>
  </div>
  <div>
      <%= render "follow_form" %>
  </div>


<div class="user-tweet-list">
  <%= @user.name %>'s Tweet List
</div>