<div class="gears-index">
  <div class="own-gear-page">

    <h2 class="gears-title">Myキャンプ道具</h2>

    <div class="new-gear-btn-group">
      <%= link_to "道具を登録", new_gear_path, class:"new-gear-btn" %>
    </div>

    <ul class="gear-index-box">
      <% @genres.each do |genre| %>
        <li class="genre<%= genre.id %>">
          <%= link_to genre_show_path(genre) do %>
            <%= render 'genre_list', genre: genre %>
          <% end %>
        </li>

      <% end %>
    </ul>

  </div>
    <%= render 'shared/sidebar' %>
</div>