<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <title>SolocampSns</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="top" >
  <% if user_signed_in? %>
    <header>
      <%= render 'shared/header' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  <% else %>
    <%= yield %>
  <% end %>
  </body>
</html>
